body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    animation: gradient-animation 10s infinite alternate;
  }
  
  @keyframes gradient-animation {
    0% {
      background: linear-gradient(135deg, #6e8efb, #a777e3);
    }
    100% {
      background: linear-gradient(135deg, #a777e3, #6e8efb);
    }
  }
  
  .login-container {
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #6e8efb;
    outline: none;
  }
  
  .login-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    width: 100%;
  }
  
  .login-button:hover {
    background: linear-gradient(135deg, #a777e3, #6e8efb);
  }
  
  .login-button:active {
    transform: scale(0.95);
  }
  
  .register-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
  }
  
  .register-link:hover {
    background: linear-gradient(135deg, #a777e3, #6e8efb);
  }
  
  .register-link:active {
    transform: scale(0.95);
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .password-group {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
  }

  .password-container {
    position: relative;
    width: 100%;
  }
  
  .password-input {
    width: 100%;
    padding-right: 40px;
  }
  
  .toggle-password {
    position: absolute;
    top: 68%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }